<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>랜선 게임 천국</title>

    <!-- Google Font -->
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap' %}"
        rel="stylesheet">
    <link
        href="{% static 'https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap' %}"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="..">
                            <img src="{% static 'img/logo1.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a>게임 검색</a></li>
                                <li><a href="{% url 'recommendation:recommendation' %}">술게임 추천 게시판</a></li>
                                <li><a href="{% url 'bungae:bungae' %}">온라인 번개 모임 게시판</a></li>
                                <li><a href="{% url 'mypage:mypage_main' %}">마이 페이지</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="../login/login"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>게임 선택</h2>
                        <p>플레이하고 싶은 게임을 선택하세요.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- 게임 리스트 Begin-->
    <style>
        .contentbox{
            margin:10px;
            border: 1px solid #000;
            width: 100%;
            height: 100px;
            background:#1D1E39;
            padding:10px;
            border-radius: 15px;
            align:center;
        }
        .title{
            margin-left:90px;
            color:white;
        }
    </style>
    
    <div style="width:60%;height:0 auto;margin:0 auto;">
        <form action="" method="GET" style="background:white;width:350px">
            <input type="text" name="search" id="search-input" placeholder="키워드를 입력하세요." style="width:300px;border:0">
            <button type="submit" style="float:right;border:0;background:#dc3545;color:white;width50px">검색</button>
        </form>
        <br>
        <!-- 게임들 -->
        {% for item in data %}
        <div class="contentbox">
            <div style="float:left">
                <img src="{{item.game_img}}" onerror="this.src='/static/img/anime/review-1.jpg'" style="width:80px;height:80px;float:left">
                <p type="button" data-toggle="modal" data-target="#myModal" 
                    data-title="{{item.game_title}}" data-detail="{{item.game_detail}}"
                    class="title"><b>{{item.game_title}}</b></p> <p class="title">{{item.game_content}}</p>
            </div>
            <div style="float:right" class="anime__details__form">
                <form action="../games/{{item.game_url}}">
                    <button type="submit" style="float:right" onclick="location.href='games:{{item.game_url}}'"><i class="fa fa-location-arrow"></i>시작하기</button>
                </form>
            </div>
        </div>
        {% endfor %}
        
        <!-- The Modal -->
        <div class="container">
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h3 class="modal-title"></h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p class="modal-gamedetail"></p>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 게임 리스트 End-->
    


    <!-- 검색 및 글쓰기 Begin-->
    <!-- 검색 및 글쓰기 End-->


    <!-- Footer Section Begin -->
    <footer class="footer">

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href=""><img src="{% static 'img/logo1.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>

    
<script>
    $('#myModal').on('show.bs.modal', function (event) { // myModal 윈도우가 오픈할때 아래의 옵션을 적용
      let button = $(event.relatedTarget) // 모달 윈도우를 오픈하는 버튼
      let titleTxt = button.data('title') // 버튼에서 data-title 값을 titleTxt 변수에 저장
      let detailTxt = button.data('detail')
      let modal = $(this)
      modal.find('.modal-title').text(titleTxt) // 모달위도우에서 .modal-title을 찾아 titleTxt 값을 치환
      modal.find('.modal-gamedetail').html(detailTxt) 
    })
</script>