{% extends 'games/layout.html' %}

{% block content %}
<!-- CSS -->

<style>
    .timer {
        margin: 0 auto;
        text-align: center;
    }

    .dropdown{
        margin: 0 auto;
        text-align: center;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .timer h2 {
        color: #FFFFFF;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #countdown {
        color:#FFFFFF;
        font-size: 65px;
        font-weight: 12px;
        padding-bottom: 60px;
    }

    .sttbt {
        color: #FFFFFF;
        font-weight: bold;
        width:110px;
        height:40px;
        background-color: #1F7C83;
        display:inline-block;
        border-radius:20px;
    }
    .sttbt:hover {
        color: #FFFFFF;
        background-color: #439ea5;
    }

    .psbt {
        color: #FFFFFF;
        font-weight: bold;
        width:110px;
        height:40px;
        background-color: #C9AE00 ;
        display:inline-block;
        border-radius:20px;
    }
    .psbt:hover {
        color: #FFFFFF;
        background-color: #dac541;
    }

    .stpbt {
        color: #FFFFFF;
        font-weight: bold;
        width:110px;
        height:40px;
        background-color: #DB0000;
        display:inline-block;
        border-radius:20px;
    }
    .stpbt:hover {
        color: #FFFFFF;
        background-color: #dd4545;
    }
    
</style>

<!-- CSS -->

<!-- HTML -->
	<form name="tm">
        <div class="timer">
            <h2><b>타이머를 눌러 시작하세요!</b></h2>
            <div class="dropdown">
                <select class="selectpicker show-tick" data-style="btn-primary" name="setTime">
                    <option value="180">시간을 선택하세요</option>
                    <option value="300">5분</option>
                    <option value="180">3분</option>
                    <option value="120">2분</option>
                    <option value="60">1분</option>
                    <option value="30">30초</option>
                </select>
            </div>
        <br>
            <div class="timer-box">
                <div class="timer-bt">
                    <div class="start__timer__bt">
                        <input class="sttbt" type="button" value="▶ 시작" onclick="start()">
                        <input class="psbt" type="button" value="❚❚ 일시정지" onclick="pause()">
                        <input class="stpbt" type="button" value="■ 멈춤" onclick='stop()'>
                    </div>
                </div><br><br>
                <span id="countdown"><b>웃음 참기 시작</b></span><br><br>
            </div>
        </div>
    </form>

<!-- HTML -->

        <script type="text/javascript">
        var count = 0;
        var time = 0;
        var choice = 0;
        var x;
        var tmmsg = document.getElementById("countdown");
        
        function start() {
            
            clearInterval(time);

            choice = document.tm.setTime.selectedIndex;
         
            count = parseInt(document.tm.setTime.options[choice].value);
            
            x = setInterval(function() {
                min = parseInt(count/60);
                sec = count%60;

                tmmsg.innerHTML = `${min<10 ? `0${min}` : min} : ${sec<10 ? `0${sec}` :sec}`;
                count--;

                if (count < 0){
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "시간 초과";
                }
            }, 1000);
            tmmsg.classList.add('start');
            
        }

        function pause() {
            clearInterval(x);
            tmmsg.classList.remove('start');
        }

        function stop(){
            tmmsg.innerHTML = '웃음 참기 시작';
            puase();
            tmmsg.classList.remove('start');
        }

        function init() {
            sttbt.addEventListner('click', start);
            psbt.addEventListner('click', pause);
            stpbt.addEventListner('click', stop);
        }

        </script>
        
        </body>
{% endblock %}