<!DOCTYPE html>
<html lang="zxx">

    {% load static %}

<body>
<div class="container">
    <div class="row">
        <div class="md-col-12">
            <div class="row">
                <div class="md-col-6">
                    <div class="row"><input type="button" value="spin" style="float:left;" id="spin" /></div>
                    <div class="row">
                        <ul>
                            <li>A </li>
                            <li>A </li>
                            <li>B </li>
                            <li>C </li>
                            <li>D </li>
                            <li>E </li>
                            <li>F </li>
                            <li>G </li>
                        </ul>
                    </div>
                </div>
                <div class="md-col-6"><canvas id="canvas" width="500" height="500"></canvas></div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/roulette.js' %}"></script>

</body>
</html>
