<!DOCTYPE html>
<html lang="zxx">
{% load static %}







<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>랜선 게임 천국</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'main:main' %}">
                            <img src="{% static 'img/logo1.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="{% url 'board:board_main' %}">게임 검색</a></li>
                                <li class="active"><a href="{% url 'recommendation:recommendation' %}">술게임 추천 게시판</a>
                                </li>
                                <li><a href="{% url 'bungae:bungae' %}">온라인 번개 모임 게시판</a></li>
                                <li><a href="{% url 'mypage:mypage_main' %}">마이 페이지</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">

                        <a href="{% url 'login:login' %}"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">



        <form action="{% url 'recommendation:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}



            <div class="container">
                <div class="anime__details__content">

                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="anime__details__review">
                                <div class="section-title">
                                    <h5>글쓰기</h5>
                                </div>

                                <div class="anime__review__item">
                                    <div class="anime__review__item__text">
                                        <h6>제목</h6>
                                            <p><input placeholder="제목을 입력하세요" style="width:700px;resize: none;"
                                                    name="user_game_title"></p>
                                    </div>
                                </div>


                                <div class="anime__review__item">
                                    <div class="anime__review__item__text">
                                        <h6>내용</h6>
                                            <p><textarea cols="84" rows="20" placeholder="내용을 입력하세요"
                                                    style="resize: none;" name="user_game_content"></textarea></p>
                                    </div>
                                </div>


                            </div>
                            
                            <div class="anime__details__form">
                                <form>
                                    <button class=button1 type="submit"><i class="fa fa-location-arrow"></i> 게시하기</button>
                                </form>
                            </div>
                            <input type="file" name="image" style="color:white">

                            <style>
                                .button1{
                                    background-color: rgb(255, 56, 56);
                                    border: 0px;
                                    border-radius: 5px;
                                    margin-bottom: 30px;
                                    color: white;
                                    font-size: small;
                                    padding: 7px;
                                }
                            </style>
                        </div>

                    </div>
                </div>

        </form>



    </section>
    <!-- Anime Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="http://127.0.0.1:8000/"><img src="{% static 'img/logo1.png' %}" alt=""></a>
                    </div>
                </div>


            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>




{% comment %} <html lang="ko">

<head>
    <br>글쓰기 테스트<br />
    <meta charset="utf-8">
    <title>HTML</title>
    <style>
        * {
            font-size: 16px;
            font-family: Consolas, sans-serif;
        }
    </style>
</head>

<body>
    <form>

        <p><input placeholder="제목을 입력하세요" style="width:920px;resize: none;"></p>
        <p><textarea cols="100" rows="20" placeholder="내용을 입력하세요" style="resize: none;"></textarea></p>
        <p><input type="submit" value="게시"></p>
    </form>
</body>

</html> {% endcomment %}